<h3 class="text-center">Here are your list of presents: </h3>
<ul>
  <li class="text" *ngFor="let present of presents | async">
    <p>
      Present: {{ present.present }}
    </p>
    <p>
      From: {{ present.fromFamilyMember }}
    </p>
    <p>
      To: {{ present.toFamilyMember }}
    </p>
    <p>
      Present Image: {{ present.image }}
    </p>
    <p>
      Rating: {{ present.rating }}
    </p>
    <label> 
      <div [hidden]="present.letterSent === true" (click)="present.letterSent = !present.letterSent" (click)="checked(present)" class="unchecked">
        <i class="unticked far fa-square"></i>
      </div>
      <div [hidden]="present.letterSent === false" (click)="present.letterSent = !present.letterSent" (click)="checked(present)" class="checked">
        <i class="ticked far fa-check-square"></i>
      </div>  
    </label>
    <div class="delete-present">
      <button class="btn btn-danger"id="remove-present" (click)="onDelete(present)"><i class="fas fa-times"></i></button>
    </div>
  </li>
</ul>
