<div class="bg">
  <div class="heading">
    <h1 class="text-center">Login</h1>
  </div>
  <div class="container">
    <form class="form-signin text-center m-4"  #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
    <div class="mt-4 mb-4">
      <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input 
        type="email" 
        id="inputEmail" 
        name="email" 
        class="form-control" 
        placeholder="Enter Email"
        [(ngModel)]="email"
        required 
        autofocus>
      </div>
      <div class="form-group">
      <label for="inputPassword">Password</label>
      <input 
        type="password" 
        id="inputPassword" 
        name="password"
        class="form-control" 
        placeholder="Enter Password" 
        [(ngModel)]="password"
        required>
      <label class="error mt-3 text-danger" *ngIf="errorMessage">{{ errorMessage }}</label>
    </div>
    </div>
    <button type="submit" class="btn btn-success btn-lg mb-3">Login</button>
    <p><a routerLink="/register">Register</a></p>
    </form>
  </div>
</div>
