h1 {
    
}

.nav {
    background-color: rgb(44, 40, 42);
    border: none;
}

.nav-tabs .nav-link {
    border: none;
    cursor: pointer;
}

.bg {
    background-image: url('../../assets/migoswrapper-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.container {
    background-color: rgb(145, 46, 100);
    border: 1px solid black;
    width: 70%;
    min-height: 100vh;
}