<ul class="nav nav-tabs d-flex">
  <li class="nav-item">
    <a class="nav-link text-light" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="/letter-list">Letters</a>
  </li>
  <li class="ml-auto p-2 text-light">
    Hi, {{ aFAuth.user?.email }}!
  </li>
  <li class="nav-item ">
    <a class="nav-link ml-auto text-danger" (click)="logout()">Log Out</a>
  </li>
</ul>
<div class="bg">
  <h1 class="text-center text-light">Welcome to your Christmas Present Tracker!</h1>
  <div class="container">
    <app-add-present></app-add-present>
    <app-present-list></app-present-list>
  </div>
</div>